extends layout

block content
    h1= title

    ul
        - let albumNames = [];
        each song in album_songs_list
            - albumNames.push(song.album.name)
            li
                a(href=song.album.url) #{song.album.name} 
                | by #{song.artist.name}

        - let albums = [];
        each album in album_list
            unless albumNames.includes(album.name)
                li
                    a(href=album.url) #{album.name}