extends layout

block content

    h1 Genre: #{genre.name}

    div(style='margin-left:20px;margin-top:20px')

        h4 Songs

        ul
            each song in genre_songs
                li
                    a(href=song.url) #{song.title}
               
        h4 Artists

        ul
            each song in genre_songs
                li
                    a(href=song.artist.url) #{song.artist.name}

        h4 Albums

        ul
            each song in genre_songs
                li
                    a(href=song.album.url) #{song.album.name}
        hr
        p
            a(href=genre.url+'/delete') Delete genre
                    