extends layout

block content

    h1 Genre: #{genre.name}

    div(style='margin-left:20px;margin-top:20px')

        h4 Songs

        dl
            each songs in genre_songs
                dt
                    a(href=song.url) #{song.title}
                
        h4 Artists

        dl
            each artist in genre_songs
                dt
                    a(href=song.artist.url) #{song.artist.name}

        h4 Albums

        dl
            each album in genre_songs
                dt
                    a(href=song.album.url) #{song.album.name}
                    