extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Title of song' name='title' required='true' value=(undefined===song ? '' : song.title) )
    div.form-group
      label(for='released_date') Year of Release:
      input#released_date.form-control(type='date' name='released_date' value=(undefined===song ? '' : song.released_date) )
    div.form-group
      label(for='artist') Artist:
      select#artist.form-control(type='select', placeholder='Select artist' name='artist' required='true' )
        - artists.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for artist in artists
          if song
            //- Handle GET form, where book.artist is an object, and POST form, where it is a string.
            option(value=artist._id selected=(artist._id.toString()==song.artist._id || artist._id.toString()===song.artist) ? 'selected' : false) #{artist.name}
          else
            option(value=artist._id) #{artist.name}
    div.form-group
      label(for='album') Album:
      select#album.form-control(type='select', placeholder='Select album if song belongs to an album' name='album' )
        - albums.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for album in albums
          if song
            option(value=album._id, selected=(album._id.toString()==song.album._id) ? 'selected' : false) #{album.name}
          else
            option(value=album._id) #{album.name}
    div.form-group
      label(for='youtube_link') Youtube Link:
      input#youtube_link.form-control(type='text', placeholder='Youtube link' name='youtube_link' value=(undefined===song ? '' : song.youtube_link))
    div.form-group
      label Genre:
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
            label(for=genre._id) #{genre.name}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
